# Golang executables
/bin

# Golang dependencies
Gopkg.lock
Gopkg.toml
/vendor

# Golang test and lint reporting
/reporting
.scannerwork

# Certificates
/certs

# Swaggo docs
/docs

# Document
/document

# Profiling dump
*.prof

# IDE
.vscode
.idea/

# Logs
*.log

# Compressed content
*.tar

# Version file (used in CI)
version

/certs

golangci-lint.exe