# Golang executables
/bin
engine-api

# Golang dependencies
Gopkg.lock
Gopkg.toml
/vendor

# Golang test coverage
/coverage

# Certificates
/certs

# Swaggo docs
/docs

# Document
/document

# Profiling dump
*.prof

# VS Code
.vscode

# GoLand
.idea/

# Logs
*.log

# Compressed content
*.tar

# Version file (used in CI)
version

*.plugin

# Security files (certs, private keys, metadatas)
resources/saml/certs/sp
resources/saml/certs/source
resources/saml/certs/*.key
resources/saml/certs/*.crt
resources/saml/metadata/*.xml
# Default example security file
!resources/saml/certs/myservice.key
!resources/saml/certs/myservice.crt
!resources/saml/metadata/idp-samltestid.metadata.xml